.hidden{
    display:none;
}
#clock{
    font-size:5em;
    color : blue
}
body{
    background-color: rgba(2, 148, 2, 0.293);
    display: flex;
    flex-direction: column;
    align-items: center;
}